/* CSS definitions for the home page (home.haml) */

/* Gallery related definitions */
.userfile
  border: 1px solid white
  background-color: #E7F4FD

  &:hover
    border: 1px solid #209CEE
    background-color: #D0EAFB

  figure
    height: 48px

  img
    margin-left: auto
    margin-right: auto
    height: 100%
    width: auto

#load-less, #load-more
  height: 45px
  width: 45px
  box-shadow: 0 0 3px black


/* Filesystem information bar */
#fs-info
  animation: flash linear 3s infinite

@keyframes flash
  0%
    opacity: 1
  50%
    opacity: .5
  100%
    opacity: 1
