# Vim swap files
*.swp

# Development folders
db/
uploads/

# Testing stuff
django_stuff/

# Development database
db.sqlite3

# Virtual environment
virtenv/
__pycache__/

# Old django stuff
## To delete soon
django_stuff/

# Site settings (sensitive information)
dwcfiles/settings.py

db/
__pycache__/
