certifi==2017.7.27.1
chardet==3.0.4
click==6.7
EasyProcess==0.2.3
Flask==0.12.2
Flask-PyMongo==0.5.1
Flask-WTF==0.14.2
gunicorn==19.7.1
Hamlish-Jinja==0.3.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.2.1
pymongo==3.5.1
pyscreenshot==0.4.2
python-magic==0.4.13
requests==2.18.4
urllib3==1.22
Werkzeug==0.12.2
WTForms==2.1
