.thumbnail {
	background-size: cover;
	width: 113px;
	height: 80px;
	margin-right: 5px;
}

form {
	margin-top: 150px;
	margin-bottom: 150px;
}

#info {
	margin-top: 30px;
}

#info dd {
	margin-left: 0;
}

input[type="checkbox"] {
	margin-right: 5px;
}

.message {
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.inline-block-middle {
	display: inline-block;
	vertical-align: middle;
}

.fa-play {
	color: #EDEBE8;
}

.mime {
	color: #BA862C;
	display: inline-block;
	padding: 2px 4px 2px 4px;
	border: 1px solid #BA862C;
	font-size: 10px;
	margin-top: 7px;
}

.column .field-custom {
	margin-bottom: 25px;
}
