body{
    margin:0px;
}

.thumbnail {
	background-size: cover;
	width: 113px;
	height: 80px;
	margin-right: 5px;
}



#info {
	margin-top: 30px;
}

#info dd {
	margin-left: 0;
}

input[type="checkbox"] {
	margin-right: 5px;
}

.flash {
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.inline-block-middle {
	display: inline-block;
	vertical-align: middle;
}

.fa-play {
	color: #EDEBE8;
}

.mime {
	color: #BA862C;
	display: inline-block;
	padding: 2px 4px 2px 4px;
	border: 1px solid #BA862C;
	font-size: 10px;
	margin-top: 7px;
}

.column .field-custom {
	margin-bottom: 25px;
}

/*Container box for thumbnails*/
.gallery{
    margin:auto;
    width:100%;
    overflow: hidden;
}

/*Actual image*/
.thumb-box{
    padding-bottom: 100%;
    width:100%;
    position: relative;
    float:left;
    overflow: hidden;
}

/* Description */

.thumb-box>.thumb>a>.description{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    bottom:-25%;
    left:0px;
    height:25%;
    width:100%;
    box-sizing: border-box;
    padding:5px;
    transition: bottom 0.5s;
}

.thumb-box>.thumb:hover>a>.description{
    bottom: 0%;
    transition: bottom 0.5s
}

/* End of Description */

.thumb-box>.thumb{
    position: absolute;
    left: 0px;
    right: 5px;
    top: 0px;
    bottom: 5px;
    background-color: green;
    overflow: hidden;
}


.thumb-box>.thumb>a{
    width: 100%;
    height:100%;
    text-decoration: none;
}

.thumb-box>.thumb>a>img{
    width: 100%;
    height:100%;
}

@media only screen and (min-width : 320px) {
   .thumb-box {
        width: 100%;
        padding-bottom: 100%;
   }
}

@media only screen and (min-width:481px) {
   .thumb-box {
        width: 50%;
        padding-bottom: 50%;
   }

}

@media only screen and (min-width:641px) {
   .thumb-box {
        width: 33.33%;
        padding-bottom: 33.33%;
   }

}
@media only screen and (min-width:961px) { 
    .thumb-box {
        width: 25%;
        padding-bottom: 25%;
    }

}

@media only screen and (min-width:1025px) { 
    .thumb-box {
        width: 25%;
        padding-bottom: 25%;
    }

}

@media only screen and (min-width:1281px) {
    .thumb-box {
        width: 20%;
        padding-bottom: 20%;
    }
}

.audio {
    width: 1000px;
}

.spacer {
    height: 100px;
}

.cursor-no {
  cursor: default;
}

.mr-1 {
  margin-right: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.p-1 {
  padding: 1em;
}

#invis-border-cell {
  border-style: hidden;
}

.table-scroll {
  overflow-x: auto;
}

.is-gone {
  display: none;
}

#uploader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#uploader {
  position: absolute;
  //left: 25%;
  //top: 100%;
  z-index: 2;
  //width: 600px;
}

.userfile {
  border: 1px solid white;
}

.userfile:hover {
  border: 1px solid lightblue;
}

.userfile img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}

.flex-container {
  display: flex;
}

.center-flex {
  align-items: center;
  justify-content: center;
}

