-extends 'base.haml'
-block main
  .column
    .content
      %h1
        API Documentation
      %p
        This is the official documentation to <strong>retrieve</strong> informations on files and <strong>upload</strong> files to Dietwater File Hosting. The API is built upon the <code>JSON</code> file format: for whatever client you choose to make requests with, it must support <code>JSON</code>. Examples in this documentation will use <code>curl</code> and GNU <code>base64</code>, programs included in almost all modern Linux distributions.
      %h2
        Quick reference
      .table-scroll
        %table
          %thead
            %tr
              %th#invis-border-cell
              %th.has-text-centered colspan = 5
                HTTP Verbs
            %tr
              %th -> URL
              %th -> GET
              %th -> POST
              %th -> PUT
              %th -> PATCH
              %th -> DELETE
          %tbody
            %tr
              %td
                The front page files collection<br/><code>https://files.dietwatr.com/api/files</code>
              %td -> <b>List</b> all front page files and their attributes
              %td -> <b>Upload</b> a new file and return a URL for the file
              %td -> Not in use
              %td -> Not in use
              %td -> Not in use
            %tr
              %td
                A single file, queried by its ID<br/><code>https://files.dietwatr.com/api/files/&lt;id&gt;</code>
              %td -> <b>Retrieve</b> a single file and its attributes
              %td -> Not in use
              %td -> Not in use
              %td -> Not in use
              %td -> Not in use
      %h2 -> Requests on the front page collection
      %h4 -> GET
      %p
        A GET request on this collection gathers all files on the front page as a single object with each attributes, a number starting from 0, paired to a file object, with its attributes. Its attributes are explained below. Here's an example of a request and its response:
        %br/
        %code
          $ curl -X GET -H 'Content-Type: application/json' https://files.dietwatr.com/api/files
        %pre
          %code
            |{
            |  "0": {
            |    "filename": "v2Ni.gif",
            |    "filesize": "1.96 MB",
            |    "frontpage": true,
            |    "html5": true,
            |    "mime_type": "image/gif",
            |    "pinned": false,
            |    "title": "1365473819832.gif",
            |    "unique_id": "v2Ni"
            |  },
            |  "1": {
            |    "filename": "dmEd.png",
            |    "filesize": "12.57 KB",
            |    "frontpage": false,
            |    "html5": true,
            |    "mime_type": "image/png",
            |    "pinned": false,
            |    "title": "1394323658704.png",
            |    "unique_id": "dmEd"
            |  },
            |  "2": {
            |    "filename": "jlAl.png",
            |    "filesize": "392.37 KB",
            |    "frontpage": true,
            |    "html5": true,
            |    "mime_type": "image/png",
            |    "pinned": false,
            |    "title": "1392165765663.png",
            |    "unique_id": "jlAl"
            |  }
            |}
      %h4 -> POST
      %p
        Sending a POST request to this collection uploads a new file, either to the front page or privately. However, some attributes must be supplied:
        %dl
          %dt -> <code>title</code>
          %dd -> A creative name for the file.
          %dt -> <code>filename</code>
          %dd -> The name of the file on the hard drive.
          %dt -> <code>public</code>
          %dd -> Boolean. Determines whether the file should be visible or hidden on the front page.
          %dt -> <code>file</code>
          %dd -> The file to be uploaded. Must be encoded in base64.
        Here's an example of a POST request containing the file and its supplied attributes and the response:
        %pre
          %code.has-text-danger
            |$ echo -n '{ &#92;
            |  "title":"&lt;title&gt;", &#92;
            |  "filename":"&lt;filename&gt;", &#92;
            |  "public":&lt;true/false&gt;, &#92;
            |  "file":"'"$(base64 -w 0 /path/to/file)"'" &#92;
            |  }' | &#92;
            |  curl -X POST -H 'Content-Type: application/json' -d @- https://files.dietwatr.com/api/files
        %pre
          %code
            |{
            | "direct_url": "https://files.dietwatr.com/ul/v2Ni.gif",
            | "url": "https://files.dietwatr.com/v2Ni"
            |}
      %h2 -> Requests on a single file
      %h4 -> GET
      %p
        Much like the GET request on the files collection, this request retrieves all the public attributes of a user uploaded file.
        %br/
        %code
          curl -X GET -H 'Content-Type: application/json' https://files.dietwatr.com/api/files/&lt;id&gt;
      %pre
        %code
          |{
          |  "filename": "v2Ni.gif",
          |  "filesize": "1.96 MB",
          |  "frontpage": true,
          |  "html5": true,
          |  "mime_type": "image/gif",
          |  "pinned": false,
          |  "title": "1365473819832.gif",
          |  "unique_id": "v2Ni"
          |}
