-from 'macros.haml' import gallery_file
-extends 'base.haml'

-block header
  %section.section.pt-1.pb-1
    .container
      %article.message.is-info
        .message-body
          This website in still in <strong>beta</strong> phase. Inconsistencies and odd behavior, such as files disappearing, are to be expected; we therefore do not recommend to upload long-term files here.
          &nbsp;If you have any problems or suggestions, feel free to create an issue or a pull request on <a href="https://github.com/xisbroken/dwcfiles">GitHub</a>.

-block main
  .columns
    .column
      %h2.title
        Browse latest public files

-macro ajax_button(id_name, chevron_cls):
  .flex-container.center-flex.h-100
    .flex-container.center-flex.pointer.rounded-border id = {{ id_name }}
      %i class = " fa {{ chevron_cls }}"

-block extra
  .column.is-1
    = ajax_button('load-less', 'fa-chevron-left')
  -for column in latest_files|slice(5):
    .column.is-2
      -for media in column
        = gallery_file(media)
  .column.is-1
    = ajax_button('load-more', 'fa-chevron-right')

-block footer
  .container
    .columns.is-centered
      .column.is-one-third.has-text-centered
        %progress.progress.is-info value = {{ percent_space }} min = 0 max = 100
        %p
          {{ used_space }} / {{ total_space }}


-block scripts
  %script
    ajaxButtonsEvents();
