-extends 'base.haml'
-block header
  %section.section.pt-1.pb-1
    .container
      %article.message.is-info
        .message-body
          This website in still in <strong>beta</strong> phase. Inconsistencies and odd behavior, such as files disappearing, are to be expected; we therefore do not recommend to upload long-term files here.
          &nbsp;If you have any problems or suggestions, feel free to create an issue or a pull request on <a href="https://github.com/xisbroken/dwcfiles">GitHub</a>.

-block main
  .columns
    .column
      %h2.title
        Browse latest public files
-block extra
  .column.is-1
    .flex-container.center-flex style = 'height: 100%;'
      .flex-container.center-flex#load-less style = 'height: 45px;width: 45px;border-radius: 50%;box-shadow: 0 0 3px black;cursor: pointer;'
        %i.fa.fa-chevron-left
  -for column in last_multimedia|slice(5):
    .column.is-2
      -for media in column
        %a href = '{{ media.unique_id }}'
          .userfile.has-text-centered.p-1.mb-1
            %figure.image.mb-1 style = 'margin-left: auto;margin-right: auto;height: 48px;'
              -if 'image' in media.mime_type:
                %img src = "{{ url_for('uploaded_file', filename=media.unique_id + '_thumb.png') }}" style = 'box-shadow: 2px 2px lightblue;'
              -elif 'audio' in media.mime_type:
                %img src = '/static/img/icon-download5.png'
              -elif 'video' in media.mime_type:
                %img src = "{{ url_for('uploaded_file', filename=media.unique_id + '_thumb.png') }}" style = 'box-shadow: 2px 2px lightblue;'
              -else:
                %img src = '/static/img/icon-download4.png'
            %p style = 'overflow: hidden;white-space: nowrap;font-size: 0.9em;'
              = media.title
            %p.has-text-grey style = 'overflow: hidden;white-space: nowrap;font-size: 0.8em;'
              23/03/2017 14:00UTC
  .column.is-1
    .flex-container.center-flex style = 'height: 100%;'
      .flex-container.center-flex#load-more style = 'height: 45px;width: 45px;border-radius: 50%;box-shadow: 0 0 3px black;cursor: pointer;'
        %i.fa.fa-chevron-right

-block scripts
  %script
    addEventButtonLess();addEventButtonMore();


          ;.box.is-radiusless.mb-1
          ;  %article.media
          ;    %figure.media-left
          ;      %p.image.is-48x48
          ;        -if 'image' in media.mime_type:
          ;          %img src = "{{ url_for('uploaded_file', filename=media.filename) }}"
          ;        -elif 'audio' in media.mime_type:
          ;          %img src = '/static/img/icon-download5.png'
          ;        -elif 'video' in media.mime_type:
          ;          %img src = "{{ url_for('uploaded_file', filename=media.unique_id + '_thumb.png') }}"
          ;        -else:
          ;          %img src = '/static/img/icon-download4.png'
          ;    .media-content
          ;      .content
          ;        %p.is-size-7 style = 'margin-bottom: 0.25em;'
          ;          = media.title
          ;        %span.tag.is-info
          ;          = media.mime_type
              ;.media-right
              ;  %p.is-size-7.has-text-grey
              ;    Uploaded: 23/03/2017
              ;  %p.is-size-7.has-text-grey.has-text-right.mt-1
              ;    = media.filesize
