-extends 'base.haml'
-block header
  %section.section
    .container
      %article.message.is-info
        .message-body
          This website in still in <strong>beta</strong> phase. Inconsistencies and odd behavior, such as files disappearing, are to be expected; we therefore do not recommend to upload long-term files here.
          &nbsp;If you have any problems or suggestions, feel free to create an issue or a pull request on <a href="https://github.com/xisbroken/dwcfiles">GitHub</a>.

-block main
  .columns
    .column
      %h2.title
        Browse public files
-block extra
  -for column in last_multimedia|slice(2):
    .column.is-4
      -for media in column
        .box.is-radiusless
          %article.media
            %figure.media-left
              %p.image.is-48x48
                -if 'image' in media.mime_type:
                  %img src = '/static/img/icon-download3.png'
                -elif 'audio' in media.mime_type:
                  %img src = '/static/img/icon-download5.png'
                -elif 'video' in media.mime_type:
                  %img src = '/static/img/icon-download6.png'
                -else:
                  %img src = '/static/img/icon-download4.png'
            .media-content
              .content
                %p style = 'margin-bottom: 0.25em;'
                  = media.title
                %span.tag.is-info
                  = media.mime_type
            .media-right
              %p.is-size-7.has-text-grey
                Uploaded: 23/03/2017
              %p.is-size-7.has-text-grey.has-text-right.mt-1
                = media.filesize
  .column
    %img src = '/static/img/test.jpg'
