-macro gallery_file(userfile):
  %a.no-outline href = '{{ userfile.unique_id }}'
    .userfile.has-text-centered.p-1.mb-1-5
      %figure.image.mb-1.m-center
        -if 'image' in userfile.mime_type:
          %img.shadow src = "{{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }}"
        -elif 'audio' in userfile.mime_type:
          %img.shadow.rounded-border src = '/static/img/audio.png'
        -elif 'video' in userfile.mime_type:
          %img.shadow src = "{{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }}"
        -else:
          %img.shadow.rounded-border src = '/static/img/file.png'
      %p.no-overflow.no-wrap.is-size-7
        = userfile.title
      %p.has-text-grey.no-overflow.no-wrap.is-size-7
        -if userfile.upload_date is defined
           = userfile.upload_date
        -else
          \-
