-if more|length > 0
  .column.is-2
    -for media in more
      %a href = '{{ media.unique_id }}'
        .userfile.has-text-centered.p-1.mb-1-5 style = 'background-color: #E6F9FF'
          %figure.image.mb-1 style = 'margin-left: auto;margin-right: auto;height: 48px;'
            -if 'image' in media.mime_type:
              %img src = "{{ url_for('uploaded_file', filename=media.unique_id + '_thumb.png') }}" style = 'box-shadow: 2px 2px lightblue;'
            -elif 'audio' in media.mime_type:
              %img src = '/static/img/icon-download5.png'
            -elif 'video' in media.mime_type:
              %img src = "{{ url_for('uploaded_file', filename=media.unique_id + '_thumb.png') }}" style = 'box-shadow: 2px 2px lightblue;'
            -else:
              %img src = '/static/img/icon-download4.png'
          %p style = 'overflow: hidden;white-space: nowrap;font-size: 0.9em;'
            = media.title
          %p.has-text-grey style = 'overflow: hidden;white-space: nowrap;font-size: 0.8em;'
            23/03/2017 14:00UTC
;-for userfile in more
;  -if userfile.html5
;    %a.panel-block.is-paddingless href = "/{{ userfile.unique_id }}"
;      -if 'image' in userfile.mime_type
;        .thumbnail style = "background-image: url({{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }});"
;      -elif 'video' in userfile.mime_type
;        %div
;          .thumbnail.level = style = "background-image: url({{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }});"
;            .level-item
;              %span.icon.is-medium
;                %i.fa.fa-play
;      -elif 'audio' in userfile.mime_type
;        %div
;          .thumbnail.level
;            .level-item
;              %span.icon.is-medium
;                %i.fa.fa-volume-down
;      .block
;        = userfile.title
;        .content.is-small
;          .mime
;            = userfile.mime_type|upper
;  -elif not userfile.html5
;    %a.panel-block.is-paddingless href = "/{{ userfile.unique_id }}"
;      %div
;        .thumbnail.level
;          .level-item
;            %span.icon.is-medium style = 'height: 50px; width: 50px;'
;              ;%i.fa.fa-file-o aria-hidden = 'true'
;              %img src = "{{ url_for('static', filename='img/icon-download.png') }}"
;      .block
;        = userfile.title
;        .content.is-small
;          .mime
;            = userfile.mime_type|upper
