-for userfile in more
  -if userfile.html5
    %a.panel-block.is-paddingless href = "/{{ userfile.unique_id }}"
      -if 'image' in userfile.mime_type
        .thumbnail style = "background-image: url({{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }});"
      -elif 'video' in userfile.mime_type
        %div
          .thumbnail.level = style = "background-image: url({{ url_for('uploaded_file', filename=userfile.unique_id + '_thumb.png') }});"
            .level-item
              %span.icon.is-medium
                %i.fa.fa-play
      -elif 'audio' in userfile.mime_type
        %div
          .thumbnail.level
            .level-item
              %span.icon.is-medium
                %i.fa.fa-volume-down
      .block
        = userfile.title
        .content.is-small
          .mime
            = userfile.mime_type|upper
  -elif not userfile.html5
    %a.panel-block.is-paddingless href = "/{{ userfile.unique_id }}"
      %div
        .thumbnail.level
          .level-item
            %span.icon.is-medium style = 'height: 50px; width: 50px;'
              ;%i.fa.fa-file-o aria-hidden = 'true'
              %img src = "{{ url_for('static', filename='img/icon-download.png') }}"
      .block
        = userfile.title
        .content.is-small
          .mime
            = userfile.mime_type|upper
