<!DOCTYPE html>
%html lang = 'en'
  %head
    %meta charset = 'utf-8'
    %meta name = 'viewport' content = 'width=device-width, initial-scale=1'
    %title
      Dietwater File Hosting
    %link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename='css/bulma.css') }}"
    %link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename='font-awesome/css/font-awesome.css')}}"
    %link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename='css/dietwater.css') }}"
    %link rel = 'icon' type = 'image/png' href = "{{ url_for('static', filename='img/favicon.png') }}"
  %body
    %header.section
      .container
        .columns
          .column.is-four-fifths
            %h1.title
              %a href = "{{ url_for('home') }}"
                Dietwater File Hosting
            %h2.subtitle
              = meme_sayings|random()
          .column
            .has-text-centered.mt-1
              %a.is-size-5 href = "{{ url_for('api') }}"
                API
    -with messages = get_flashed_messages(with_categories=true)
      -if messages
        %section
          .container
            .columns
              .column.is-half.is-offset-one-quarter
                %ul
                  -for category, message in messages
                    %li
                      -if category == 'success'
                        %article.message.is-success.mb-1
                          .message-body
                            .has-text-centered
                              = message
                      -elif category == 'warning'
                        %article.message.is-warning.mb-2
                          .message-body
                            .has-text-centered
                              = message
    %section.section
      .container
        .columns
          -block main
    %script
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    %script src = "{{ url_for('static', filename='js/jquery-3.2.1.js') }}"
    %script src = "{{ url_for('static', filename='js/dietwater.js') }}"
