-extends "base.haml"
-block main
  .gallery
    -for image in images:
      .thumb-box
        .thumb
          %a href = "{{ url_for('get_userfile', userfile_id=image.unique_id) }}"
            %img src = "{{url_for('uploaded_file', filename=image.unique_id + '_thumb.png')}}"
            .description
              = image.title
