-for media in more_media
  %a.panel-block.is-paddingless href = "/{{ media.unique_id }}"
    -if 'image' in media.mime_type
      .thumbnail style = "background-image: url({{ url_for('uploaded_file', filename=media.filename) }});"
    -elif 'video' in media.mime_type
      %div
        .thumbnail.level = style = "background-image: url({{ url_for('uploaded_file', filename=media.unique_id + '.png') }});"
          .level-item
            %span.icon.is-medium
              %i.fa.fa-play
    -elif 'audio' in media.mime_type
      %div
        .thumbnail.level
          .level-item
            %span.icon.is-medium
              %i.fa.fa-volume-down
    .block
      = media.title
      .content.is-small
        .mime
          = media.mime_type|upper
-for userfile in more_other
  %a.panel-block.is-paddingless href = "/{{ userfile.unique_id }}"
    %div
      .thumbnail.level
        .level-item
          %span.icon.is-medium style = 'height: 50px; width: 50px;'
            ;%i.fa.fa-file-o aria-hidden = 'true'
            %img src = "{{ url_for('static', filename='img/icon-download.png') }}"
    .block
      = userfile.title
      .content.is-small
        .mime
          = userfile.mime_type|upper
