-extends 'base.haml'
-block main
  -with userfile_url=url_for('uploaded_file', filename=userfile.filename)
    -if userfile.html5
      .column.is-7.is-offset-1
        -if 'image' in userfile.mime_type
          %figure.image
            %img src = "{{ userfile_url }}"
          .level
            .level-left
            .level-item
              %a.button.is-primary.is-inverted
                Fullscreen
        -elif 'video' in userfile.mime_type
          %video controls autoplay loop
            %source src = "{{ userfile_url }}" type = '{{ userfile.mime_type }}'
        -elif 'audio' in userfile.mime_type
          ;.test
          .spacer.is-hidden-touch
          %audio.audio controls
            %source src = "{{ userfile_url }}"
      .column.is-3
        .content#info
          %h3.title
            = userfile.title
          %dl
            %dt.label
              File size
            ; Maybe shouldn't use label class for <dt>.. not sure
            %dd
              = userfile.filesize
          .field
            %label.label
              %a href = "{{ userfile_url }}"
                Direct link
            %p.control.has-icons-left
              %input.input.is-success type = 'text' value = "files.dietwatr.com{{ userfile_url }}"
              %span.icon.is-left
                %i.fa.fa-link
    -else
      .column.is-6.is-offset-3
        .box
          .tile.is-ancestor
            .tile.is-parent.is-3
              .tile.is-child.level
                .level-item
                  %figure.image.is-96x96
                    %img src = "{{ url_for('static', filename='img/icon-download.png') }}"
            .tile.is-parent
              .tile.is-child
                .content
                  %p
                    = userfile.title
                  %p
                    <strong>File size:</strong> {{ userfile.filesize }}
                  %a.button.is-danger.is-outlined href = "{{ userfile_url }}" download
                    Download

