-extends 'base.haml'
-block main
  .column.is-7.is-offset-1
    -if 'image' in userfile.mime_type 
      %figure.image
        %img src = "{{ url_for('uploaded_file', filename=userfile.filename) }}"
    -elif 'video' in userfile.mime_type
      %video controls
        %source src = '/uploads/{{ userfile.filename }}' type = 'video/webm'
    -elif 'audio' in userfile.mime_type
      .test
        %audio.audio controls
          %source src = "{{ url_for('uploaded_file', filename=userfile.filename) }}"
    -else
      .box
        %span.icon.is-large
          %img src = "{{ url_for('static', filename='img/icon-download.png') }}"
        .content
          %p
            = userfile.filename
        %a.button.is-danger.is-outlined href = "{{ url_for('uploaded_file', filename=userfile.filename) }}" download = {{ userfile.filename }}
          Download
  .column.is-3
    .content#info
      %h3.title
        = userfile.title 
      %dl
        %dt.label 
          File size
        ; Maybe shouldn't use label class for <dt>.. not sure
        %dd
          = userfile.filesize
      .field
        %label.label 
          Direct link
        %p.control.has-icons-left
          %input.input.is-success type = 'text' value = 'dietwater.com/uploads/{{ userfile.filename }}'
          %span.icon.is-left
            %i.fa.fa-link

